#monster-pick-img {
    animation-name: resize;
    animation-iteration-count: infinite;
    animation-duration: 2.0s;
    margin: 20px;
}

@keyframes resize {
    0% {transform: scale(1.0);}
    50% {transform: scale(1.3);}
    100% {transform: scale(1.0);}
}

.flying-monsters {
    animation-name: flying;
    animation-duration: 5.0s;
    animation-timing-function: ease-in-out;
    position: relative;
}

@keyframes flying {
    0% {left: -110%; top: 0px;}
    10% {left: -90%; top: 20px;}
    20% {top: 0px;}
    30% {left: -50%; top: 20px;}
    40% {top: 0px;}
    50% {left: 0%; top: 20px;}
    60% {top: 0px;}
    70% {left: 75%; top: 20px;}
    80% {top: 0px;}
    90% {left: 125%; top: 20px;}
    100% {left: 200%; top: 0px;}
}

.tipsy-monsters {
    animation-name: tumbling;
    animation-duration: 5.0s;
    animation-timing-function: linear;
    position: relative;
}

@keyframes tumbling {
    0% {left: 200%; top: 0px;}
    10% {left: 125%; top: 20px;}
    20% {top: 0px;}
    30% {left: 75%; top: 20px;}
    40% {top: 0px;}
    50% {left: 0%; top: 20px; transform: rotate(360deg);}
    60% {top: 0px;}
    70% {left: -50%; top: 20px;}
    80% {top: 0px;}
    90% {left: -90%; top: 20px;}
    100% {left: -110%; top: 0px;}
}