/* 
COLOR PALATE

BLUE
#006ED0
#518EFF
#5DBCD2

PURPLE
#B48CFC

GREEN
#5BFC4B
#9CFC6C */

* {
    font-family: 'Luckiest Guy', cursive;
}

body {
    background: linear-gradient(45deg,#B48CFC,#9CFC6C);
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed;
}

button {
    padding: 10px;
    background-color: #518EFF;
    color: white;
    border-radius: 10px;
    margin: 10px;

}

button:hover {
    background-color: #006ED0;
    filter: drop-shadow(5px 5px 5px grey);
}

img {
    width: 75px;
    filter: drop-shadow(5px 5px 5px grey);
}

hr {
    background-color: #518EFF;
    height: 5px;
}

.grid-item img {
    filter: grayscale(100%);
}

.grid-item:hover img {
    width: 85px;
    filter: grayscale(0%);
}

#intro {
    font-size: 20px;
    line-height: 1.5;
}

.flying-monsters {
    animation-name: flying;
    animation-duration: 5.0s;
    animation-timing-function: ease-out;
    position: relative;
}

@keyframes flying {
    0% {left: -110%; top: 0px;}
    10% {left: -90%; top: 20px;}
    20% {left: -70%; top: 0px;}
    30% {left: -50%; top: 20px;}
    40% {left: -30%; top: 0px;}
    50% {left: 0%; top: 20px;}
    60% {left: 30%; top: 0px;}
    70% {left: 50%; top: 20px;}
    80% {left: 70%; top: 0px;}
    90% {left: 90%; top: 20px;}
    100% {left: 110%; top: 0px;}
}

#monster-pick-text {
    font-size: 25px;
}

#monster-pick-img {
    animation-name: resize;
    animation-iteration-count: infinite;
    animation-duration: 2.0s;
    margin: 20px;
}

@keyframes resize {
    0% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1.0);
    }
}

#grid-container {
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    box-shadow: 5px 5px 5px darkgrey;
    /* border-radius: 10px; */
}

.grid {
    display: grid;
}

.grid-item {
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: radial-gradient(closest-side, white, #5ffe517e,#5dbdd280);
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + img {
    filter: grayscale(0%);
}

.hidden {
    display: none;
}