* {
    font-family: 'Luckiest Guy', cursive;
    color: rgba(10, 10, 10, 0.9);
}

header {
    display: flex;
    align-items: center;
}

body {
    background: linear-gradient(45deg,#B48CFC,#9CFC6C);
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed;
}

button {
    padding: 10px;
    background-color: #518EFF;
    color: white;
    border-radius: 10px;
    margin: 10px;
}

.bingo-button {
    margin-top: 30px;
}

button:hover {
    background-color: #006ED0;
    filter: drop-shadow(5px 5px 5px grey);
}

img {
    width: 75px;
    filter: drop-shadow(5px 5px 5px grey);
}

hr {
    background-color: #518EFF;
    height: 5px;
}

#intro {
    font-size: 20px;
    line-height: 1.5;
    gap: 20px;
}

.intro {
    display: flex;
    flex-direction: column;
}

#monster-pick-text {
    font-size: 25px;
}

.hidden {
    display: none;
}

.smaller {
    width: 30px;
    margin: 10px;
}